{
  "printWidth": 100,
  "singleQuote": true,
  "proseWrap": "never",
  "overrides": [
    {
      "files": [".lintstagedrc", ".prettierrc"],
      "options": { "parser": "json" }
    }
  ],
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-packagejson"]
}
