.home {
  height: 100%;

  .container {
    display: flex;
    flex-direction: column;
    gap: var(--ant-margin);
    height: 100%;
    padding: var(--ant-padding);
    overflow: hidden;
    background: var(--ant-color-bg-layout);

    .body {
      flex: 1;
      height: 0;
      overflow-y: auto;

      .btn {
        height: auto;
        padding-inline: 0;
      }
    }

    .footer {
      flex: none;
    }
  }
}
