.homeDetail {
  height: 100%;
  background: var(--ant-color-bg-container);

  .container {
    display: flex;
    flex-direction: column;
    gap: var(--ant-margin);
    height: 100%;
    padding-block: var(--ant-padding);
    overflow: hidden;

    .header {
      padding-inline: var(--ant-padding);
    }

    .body {
      height: 0;
      padding-inline: var(--ant-padding);
      overflow-y: auto;

      .content {
        width: 100%;
      }
    }
  }
}
