.sider {
  flex: none;
  width: var(--layout-sider-width);
  overflow: hidden;
  border-inline-end: var(--ant-line-width) var(--ant-line-type) var(--ant-color-border-secondary);
  background: var(--ant-color-bg-container);

  .menu {
    flex: 1;
    width: 100%;
    min-height: 0;
    padding-block: var(--ant-padding-xs);
    overflow-y: auto;
    border-inline-end: none;
    background: transparent;
  }
}
